<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/styles.css"/>
		<title>@ViewData["Title"] - Note</title>
	</head>
	<body>
		<div class="container">
			<div class="box-menu">
				<p class="menu">Edit</p>
				<p class="menu">About</p>
			</div>
			<div class="box-left-top-header">
				<h2>Notes</h2>
			</div>
			<div class="box-left-bottom-header">
			<p style="white-space: nowrap">Show Category:</p>
				<select>
					<option>Пункт 1</option>
					<option>Пункт 2</option>
				</select>
			</div>
			<div class="box-right-top-header">
				<p>Category:</p>
			</div>
			<div class="box-right-bottom-header">
			<p style="display: inline">Modified:</p>
			<p style="display: inline">Created:</p>
			</div>
			<div class="box-right-content"></div>
			<div class="box-left-content"></div>
		</div>
		<main>
			@RenderBody()
		</main>
	</body>
</html>