<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/styles.css"/>
		<title>@ViewData["Title"] - Note</title>
	</head>
	<body>
		<div class="container">
			<div class="box-menu">
				@* <p class="menu">Edit</p>
				<p class="menu">About</p> *@
					@* <a href="">Edit</a> *@
					<a href="/about">About</a>
			</div>
			<div class="box-left-top-header">
				<h2>Notes</h2>
			</div>
			<div class="box-left-bottom-header">
			<p>Show Category:</p>
				<select>
					<option>Пункт 1</option>
					<option>Пункт 2</option>
				</select>
			</div>
			<div class="box-right-top-header">
				<p>Category:</p>
			</div>
			<div class="box-right-bottom-header">
			<p>Modified:</p>
			<p>Created:</p>
			</div>
			<div class="box-right-content"></div>
			<div class="box-left-content"></div>
			<div class="box-bottom-panel">
				<img class="icon" src="Resources/add-icon.svg"/>
				<img class="icon" src="Resources/edit-icon.svg"/>
				<img class="icon" src="Resources/delete-icon.svg"/>
			</div>
		</div>
		<main>
			@RenderBody()
		</main>
	</body>
</html>