<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
		<base href="~/">
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
		<title>@ViewData["Title"] - Note</title>
		@await RenderSectionAsync("heads", required: false)
	</head>
<body>
	<div class="main-container" id="main-container">
		<header>
			<a asp-area="" asp-controller="Note" asp-action="Index">Home</a>
			<a asp-area="" asp-controller="Note" asp-action="About">About</a>
		</header>
		@RenderBody()
		@await RenderSectionAsync("Scripts", false)
	</div>
</body>
</html>