@model NoteApp.Models.NoteViewModel
@{
	ViewData["Title"] = "Delete Note";
}

<div class="note-deletion-box">

	<h1 class="note-deletion-header">Are you sure that you want to delete
		<span class="note-deletion-header-color">"@Model.Title"</span> note?</h1>

	<form asp-controller="Note" asp-action="AcceptNoteDeletion"

	      class="accept-cancel-deletion-bottom-panel">
		<button type="submit" class="bottom-panel-button">
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 12L10.2426 16.2426L18.727 7.75732" stroke="#000000"
				      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</button>
		<button asp-controller="Note" asp-action="Index" class="bottom-panel-button">
			<svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16"
				      stroke="#000000" stroke-width="2" stroke-linecap="round"
				      stroke-linejoin="round"/>
			</svg>
		</button>

	</form>
</div>