@model NoteApp.Models.Note

<div class="textboxes-header">
	<input asp-for="Title" class="input-validation-error note-textbox-title">

	<select asp-for="@Model.Category" asp-items="Html.GetEnumSelectList<NoteCategory>()"
	        class="textboxes-select"></select>
</div>

<div class="title-error-message-box">
	<span asp-validation-for="Title" class="title-error-message"></span>
	<span asp-validation-for="Content" class="title-error-message"></span>
</div>

<textarea asp-for="Content" type="text" class="note-textbox-content"> 
	oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'></textarea>