@model NoteApp.Models.Note
@{
	ViewData["Title"] = "Remove Note";
}

<div class="note-deletion-box">
	<h1 class="note-deletion-header">Are you sure that you want to delete
		<span class="note-deletion-header-color">"@Model.Title"</span> note?</h1>

	<form method="post" class="accept-cancel-deletion-bottom-panel">
		@await Html.PartialAsync("AcceptCancelButtons")
	</form>
</div>