body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(40px, 6%) auto;
    grid-template-areas:
        'header'
        'main'
}

.home-container {
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(250px, 30%) auto;
    grid-template-rows: minmax(40px, 7%) minmax(25px, 5%) auto minmax(45px, 7%);
}

.about-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(45px, 7%);
    grid-template-areas:
        'content'
        'footer'
}

.about-content {
    grid-area: content;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

footer {
    grid-area: footer;
    font-size: 17px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.box-left-top-header {
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

.box-right-top-header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
}

.box-left-bottom-header {
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-right-bottom-header {
    grid-column: 2;
    grid-row: 2;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-left-content {
    grid-column: 1;
    grid-row: 3;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

.box-right-content {
    grid-column: 2;
    grid-row: 3;
}

.box-bottom-panel {
    grid-column: 1;
    grid-row: 4;
    background-color: rgb(230, 230, 230);
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: left;
    align-items: center;
}

#about {
    color: black;
    font-size: 17px;
    margin-left: 5px;
}

#about:hover {
    color: dodgerblue;
}

header {
    grid-area: header;
    background-color: black;
    display: flex;
    align-items: center;
}

select {
    font-size: 17px;
    width: 70%;
    margin: 15px;
    border: 1px solid lightgray;
    background-color: white;
}

button {
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    margin: 15px;
    padding: 0px;
}

button:hover svg {
    opacity: .5;
}

button:active svg {
    opacity: .2;
}

a {
    color: white;
    font-size: 17px;
    margin: 15px;
    margin-right: 30px;
    text-decoration: none;
}

p {
    font-size: 17px;
    margin: 15px;
    white-space: nowrap;
}

h2 {
    font-size: 30px;
    margin: 15px;
    margin-top: 20px;
}

h3 {
    font-size: 40px;
}