@{
	ViewData["Title"] = "About";
	Layout = "_Layout";
}

@section heads{
	<link rel="stylesheet" href="css/styles.css" asp-append-version="true"/>
}

<div class="about-container">
	<div class="about-content">
		<h3>About NoteApp</h3>
		<p>
			v. 1.0.0 <br>
			Author: Borovkova Varvara <br>
			Resources for feedback:
			<a id="about" href="https://github.com/mionalis">GitHub</a>
		</p>
	</div>
	<footer>
		2023 Borovkova VarvaraⒸ
	</footer>
</div>

