@{
	ViewData["Title"] = "About";
	Layout = "_Layout";
}

<div class="about-page-container">

	<div class="about-page-content">

		<h1>About NoteApp</h1>
		<p>
			v. 1.0.0 <br>
			Author: Borovkova Varvara <br>
			Resources for feedback:
			<a class="feedback-hyperlink" href="https://github.com/mionalis">GitHub</a>
		</p>
	</div>

	<footer class="about-page-footer">
		2023 Borovkova VarvaraⒸ
	</footer>

</div>

