@model NoteApp.Models.NoteViewModel

<div>
	<h1>Add a new Contact</h1>

	<form asp-controller="Home" asp-action="AddNote" class="" role="form">
		
		<div>
			@await Html.PartialAsync("NoteTextBoxes", Model)

			<div class="">
				<div>
					<button type="submit" class="">Add Contact</button>
				</div>
			</div>
		</div>

	</form>
</div>
