@model NoteApp.Models.NoteViewModel

<div>
	<h1>Accept Delete</h1>
	<h3>Are you sure that you want to delete "@Model.Title" note?</h3>

	<form asp-controller="Home" asp-action="AcceptNoteDeletion">
		<button type="submit"></button>
		<a asp-controller="Home" asp-action="Index">Cancel</a>
	</form>
</div>