@model NoteApp.Models.NoteViewModel

<div>
	<h1>Edit Contact</h1>

	<form asp-controller="Home" asp-action="EditNote" class="form-horizontal" role="form">
		
		@Html.Partial("NoteTextBoxes", Model)

		<div class="">
			<div class="">
				<button asp-controller="Home" asp-action="AcceptModifiedNote" 
				        class=""></button>
			</div>
		</div>
	</form>
</div>