@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
<div class="box-left-top-header">
	<h2>Notes</h2>
</div>
<div class="box-left-bottom-header">
	<p class="left-header-text">Show Category:</p>
	<select>
		<option>Пункт 1</option>
		<option>Пункт 2</option>
	</select>
</div>
<div class="box-right-top-header">
	<p>
		Category:
	</p>
	<p class="note-info">
		Other
	</p>
</div>
	<div class="box-right-bottom-header">
		<div class="right-bottom-header-text">
			<p>Modified:</p>
			<p class="note-info">28.10.2023</p>
		</div>
		<div class="right-bottom-header-text">
			<p>Created:</p>
			<p class="note-info">20.10.2023</p>
		</div>
	</div>
	<div class="box-right-content">
		<h1>
			Шариковая ручка
		</h1>
		<p class="note-text">
			Ша́риковая ру́чка — разновидность ручки (авторучки), при письме которой чернила переносятся из резервуара на бумагу вращающимся шариком. Состоит из стержня (обычно — пластиковой трубочки), заполненной пастообразными чернилами, и шарикового пишущего наконечника, размещённого на конце стержня.

			Наконечник состоит из трубки (медь, нейзильбер, сталь или др.), одним концом входящей в стержень, и маленького металлического шарика, размещённого с небольшим зазором в другом конце трубки так, что часть его сферы выступает из трубки.

			Для достижения износоустойчивости шарики изготавливают из твёрдого материала, например, из стали или карбида вольфрама, а сферической формы добиваются шлифованием с использованием алмазной пасты или другими методами.

			Благодаря сферической форме и зазору между шариком и трубкой наконечника шарик может вращаться. Чернила из стержня по трубке наконечника поступают к шарику и смачивают одну его сторону. При письме шарик вращается за счёт трения между бумагой и шариком, смоченная чернилами сторона шарика оказывается снаружи трубки, и чернила с шарика переносятся на бумагу. Вязкость и плотность чернил должны быть такими, чтобы чернила не вытекали (были густыми) из стержня ни с открытого конца, ни через зазор между трубкой и шариком, прилипали к последнему и переносились на бумагу, к тому же чернила должны достаточно быстро сохнуть на бумаге, поэтому чернила для перьевых ручек не подходят для шариковых авторучек.

			Чернила для шариковых авторучек (чернильная паста) создаются на масляной основе с добавлением пигментов или красителей для придания им различных цветов.

			За счёт простоты конструкции шариковые ручки дёшевы и широко распространены. 
		</p>
		<p class="note-text">
			Принцип действия ручки был запатентован 30 октября 1888 года в США Джоном Лаудом. Его изобретение представляло собой баллон с краской и подпружиненным шариком и предназначалось для нанесения меток на мешки и ящики.[1] В последующие годы были изобретены и запатентованы различные конструкции шариковых ручек: 3 мая 1904 года — Джорджем Паркером, в 1916 году — Ван Вечтен Райзбергом (англ. Van Vechten Reisberg).

			Современная шариковая ручка изобретена венгерским журналистом Ласло Биро (венг. László József Bíró) в 1931 году и запатентована в 1938 году. В Аргентине, где многие годы жил журналист, такие ручки называют в честь него «биромами».

			Первые шариковые ручки производились по заказу Королевских военно-воздушных сил Великобритании, поскольку обычные перьевые авторучки протекали в самолётах от снижения атмосферного давления при наборе высоты.

			10 июня 1943 года в США шариковая ручка была запатентована Милтоном Рейнолдсом.

			В 1953 году француз Марсель Бик усовершенствовал и упростил конструкцию, получив самую дешёвую (одноразовую) в производстве модель шариковой ручки под названием «Bic Cristal».

			В СССР шариковые ручки получили распространение в конце 1960-х годов, после того как их массовое производство началось осенью 1965 года на швейцарском оборудовании[2]. Стержни и пишущие узлы были в дефиците, поэтому для населения была организована заправка стержней пастой на базе мастерских по ремонту бытовой техники[3].

			Cначала мастер вводил длинную твердую проволоку с тыльной стороны пустого стержня и надавливал ею на шарик, который выскакивал из гнезда. Затем стержень вставлялся в специальный станок, который закачивал в него пишущую пасту. Кончиком заполненного стержня мастер надавливал на шарик, в результате чего тот вставал на место. После ряда заправок наконечник стержня и шарик «разбивались», такая ручка начинала «мазать».

			Некоторое время в советских школах ученикам младших классов не разрешали пользоваться шариковыми ручками: считалось, что с ними невозможно выработать правильный и красивый почерк (первые шариковые ручки писали заметно хуже перьевых чернильных)[4][5]. С улучшением качества шариковых ручек этот запрет постепенно был упразднён.
		</p>
	</div>
	<div class="box-left-content">
		@*Шаблон добавляемой заметки. В текущей ветке код ниже приведен для демонстрации верстки.*@
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
		<div class="example-note">
			<p class="note-listbox-header">
				Заголовок заметки
			</p>
			<p class="note-listbox-content">
				Заметка чтобы проверить скролл
			</p>
			<p class="note-listbox-footer">
				Категория
			</p>
		</div>
	</div>
	<div class="box-bottom-panel">
		<button class="button">
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 12H12M12 12H9M12 12V9M12 12V15M17 21H7C4.79086 21 3 19.2091 3 17V7C3 
						4.79086 4.79086 3 7 3H17C19.2091 3 21 4.79086 21 7V17C21 19.2091 19.2091
						21 17 21Z" 
				      stroke="#000000" stroke-width="2" stroke-linecap="round"/>
			</svg>
		</button>
		<button class="button">
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd"
					  d="M14.2322 5.76777C15.2085 4.79146 16.7915 4.79146 17.7678 5.76777L18.4749
						 6.47487C19.4512 7.45118 19.4512 9.0341 18.4749 10.0104L10.3431
						 18.1421L7.10051 18.1421C6.54822 18.1421 6.1005 17.6944 6.10051
						 17.1421L6.10051 13.8995L14.2322 5.76777ZM16.3536 7.18198L17.0607
						 7.88909C17.2559 8.08435 17.2559 8.40093 17.0607 8.59619L16 9.65685L14.5858
						 8.24264L15.6464 7.18198C15.8417 6.98672 16.1583 6.98672 16.3536
						 7.18198ZM14.5858 11.0711L9.51472 16.1421L8.10051 16.1421L8.10051
						 14.7279L13.1716 9.65685L14.5858 11.0711Z" fill="#000000" />
			</svg>
		</button>
		<button class="button">
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8
						 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21
						 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 
						 10.1534Z"
				      stroke="#000000" stroke-width="2"/>
				<path d="M19.5 5H4.5" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
				<path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" 
				      stroke="#000000" stroke-width="2"/>
				<path d="M14 12V17" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
				<path d="M10 12V17" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
			</svg>
		</button>
	</div>
</div>
