@model NoteApp.Models.NoteViewModel

<div class="">
	<label asp-for="Title"></label>
	<div class="">
		<input asp-for="Title" class="">
	</div>
</div>

<div class="">
	<label asp-for="Content"></label>
	<div class="">
		<input asp-for="Content" class="">
	</div>
</div>
