@model NoteApp.Models.NoteViewModel

@section heads{
	<link rel="stylesheet" href="css/styles.css" asp-append-version="true" />
}

<div class="textboxes-header">
	<input asp-for="Title" class="note-textbox-title">
	<select class="textboxes-select">
		<option>Пункт 1</option>
		<option>Пункт 2</option>
	</select>
</div>
<textarea asp-for="Content" type="text" class="note-textbox-content"> oninput='this.style.height = "";
	this.style.height = this.scrollHeight + "px"'></textarea>

